.outputProjectStart {
  margin-top: 20px;
}

.outputProject {
  display: flex;
  flex-direction: column;
}

.projectHeadline h4 {
  margin: 0px;
}

.projectHeadline hr {
  margin: 2px;
}

.name {
  text-align: left;
  width: 30%;
}

.linkDiv {
  margin-left: 5%;
  margin-right: 5%;
  width: 30%;
  text-align: center;
}

.timerange {
  width: 30%;
  text-align: right;
}