.modalBackground {

}

.modalContainer {
  position: absolute;
  top: 25%;
  left: 5%;
  margin-top: -50px;
  margin-left: -50px;
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: rgb(147, 145, 240);
}
