.App {
  display: flex;
  flex-direction: row;
}

.leftSide {
  outline: 2px solid blue;
  flex: 33%;
  height: 100vh;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.856);
}

.rightSide {
  outline: 2px solid green;
  flex: 67%;
  height: 100vh;
  padding: 40px;
}
